body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    background-image: url("greencroma.webp");


}
button {
    border: none;
    font-weight: bold;
    width: 250px;
    color: white;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
#increment-el{
    background-color: darkred;
}
#save-el{
    background-color: darkgreen;
}
